{% if contacts %}
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for contact in contacts %}
            <tbody>
            <tr>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.street }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.email }}</td>
                <td>
                    <a href="{{ path('show.contact.details',{'contactId':contact.id}) }}" title="Details">
                        <i class="text-info fa fa-eye pr-2"></i>
                    </a>
                    <a href="{{ path('edit.contact',{'contactId':contact.id}) }}" title="Edit">
                        <i class="text-success fa fa-edit pr-2"></i>
                    </a>
                    <a href="{{ path('delete.contact',{'contactId': contact.id}) }}" title="Delete">
                        <i class="text-danger fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endif %}