{% extends 'base.html.twig' %}
{% block title %} Show Contact Details {% endblock %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>Zip Code</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone Number</th>
            <th>Birthday</th>
            <th>Email</th>
            <th>Picture</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.lastName }}</td>
            <td>{{ contact.street }}</td>
            <td>{{ contact.zipCode }}</td>
            <td>{{ contact.city }}</td>
            <td>{{ contact.country }}</td>
            <td>{{ contact.phoneNumber }}</td>
            <td>{{ contact.birthday|date('d-m-Y') }}</td>
            <td>{{ contact.email }}</td>
            <td>
                {% if contact.picture %}
                    <img class="rounded-circle" src="{{ asset(contact.picture) }}" width="100" height="100"
                         alt="Default Image">
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}